* {box-sizing: border-box}
* {font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif}


h1{
    text-align: center;

}

h2{
    margin: 4% 0%;

}

.wrapper{
    width: 800px;
    align-content: center;
    margin: auto;
}

body{
    align-content: center;
    background-color: #ebebeb;
    margin: auto;
    width: 100%;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}




.infoTable{
    display: table;
    width: 20%;
    height: 30%;
    margin: 1%;
    font-size: 14px;

}

.inforow{
    display: table-row;

}



.infocell{
    display: table-cell;

}


.inforow .infoheader.infocell{
    font-weight: bold;
}

.inforow .infocell{
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.inforow .infocell:nth-child(1) {
    width: 50px;
    padding-left: 10px;
}

.inforow .infocell:nth-child(2) {

    margin-left: -2px;
    margin-bottom: -19px;
    padding: 15px 69px 2px 25px;

}



#select{
    border: none;
    background-color: transparent;
    text-overflow: ellipsis;
    outline: none;
    position: absolute;

}




#option{
    padding-top: 3px;

}



/*style button */

.button {
    background-color: #1E90FF;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    font-size: 14px;


}
#logoutbutton :hover {
    float: left;
    display: inline;
    color: #1e90ff;
    background: #ebebeb;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.aclass {
    background-color: #1E90FF;
    color:  #f2f2f2;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.aclass :hover{
    float: left;
    display: inline;
    color: #1e90ff;
    background: #ebebeb;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}






.table {
    display: table;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 3%;
    max-width: 85%;
    background-color: transparent;
    font-weight: 400;
    overflow: hidden;
}

.table, .row{
    width: 93%;
    margin: auto;
}


.row {
    display: table-row;
    background: #fff;

}

.row.header{
    color: #ffffff;
    background: #1E90FF;
}

.row{
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row .cell{
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.row .cell:nth-child(1) {
    width: 360px;
    padding-left: 20px;
}

.row .cell:nth-child(2) {
    width: 250px;
}

.row .cell:nth-child(3) {
    width: 400px;
}
.row .cell:nth-child(4) {
    width: 160px;
}


.row.header .cell{
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
    padding-bottom: 19px;
    padding-top: 19px;
}


#cellred{
    color: rgb(255, 191, 191);

}

#cellgreen{
    color: rgb(83, 159, 32);
}

.cell {
    display: table-cell;
}


li{
    list-style: none;
}

#dateTime{
    margin: 20px;
    font-size: 13px;
    font-style: italic;
}



fieldset{
    border: none;
}

/*invalid popup style */


#logoutbutton{
    padding: 0;
    margin: 0;
    background: inherit;
    border: none;
    color: white;
    opacity: 0.9;
}




.buttondiv{


    position: absolute;
    right: 2%;
    top: 6%;
}


#accountrow{
    font-size: 80%;
}



