* {box-sizing: border-box}
* {font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif}

h1{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h3{
    text-align: center;
    margin: auto;
    padding: 0px;
    min-height: 0px;
    height: auto;
}
body{
    background-color: #ebebeb;
    width: 100%;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif
}

form{
    display: grid;
    width: 100%;
    grid-gap: 5px;
    align-items: start;
    justify-items: start;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    grid-template-rows: repeat(4, 17px 45px 25px) 10px 45px;
}
form > * {

    height: 30px;
    width: 100%;
    border: none;
}
label{
    margin-top: 2px;
    position: relative;
    align-content: end;
    justify-content: end;
    vertical-align: bottom;
    grid-column: 2;
}
input, select {
    height: 45px;
    border-radius: 3px;
    padding: 10px;
    grid-column: 2 ;
    background: #f5f5f5;

    -webkit-box-shadow: 6px 6px 15px -6px rgba(0,0,0,0.18);
    -moz-box-shadow: 6px 6px 15px -6px rgba(0,0,0,0.18);
    box-shadow: 6px 6px 15px -6px rgba(0,0,0,0.18);
}
input + span, select + span {
    grid-column: 3 ;
}
span + span {
    grid-column: 2;
    font-size: 0.80em;
    color: red;
}
option{
    padding:15px;
}

/*

#formLeft{
    width: 360px;
    float:left;
    margin-right: 30px;
}

#formRight{
    width: 360px;
    float:left;
    margin-left: 30px;
}
*/




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Add a background color when the inputs get focus */
input:focus{
    background-color: white;
    outline: none;
}

input:disabled {
    background: #dcdcdc;
}

/*
input + span::before {
    position: relative;
    right: -20px;
    top: 0px;
}*/

.isValid + span::before {
    content: '✓';
    font-size: 2em;
    color: #00b300;
    position: relative;


}

.isInvalid + span::before {
    content: '✗';
    font-size: 2em;
    color: rgba(255, 0, 0, 1);
}

/* Set a style button */
button {
    background-color: #1E90FF;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    grid-row: 14;
    grid-column: 2;
    height: 45px;
    width: 200px;
    align-self: end;

}

button:hover {
    opacity:1;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: 	#D3D3D3;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D3D3D3;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #D3D3D3;
}

