* {box-sizing: border-box}
* {font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif}

h1{
    text-align: center;
}

h3{
    text-align: center;
    padding: 5px;
}

body{
    align-content: center;
    background-color: #ebebeb;
    margin: auto;
    width: 100%;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif
}

form{
    width: 800px;
    height: auto;
    margin: auto;
    overflow: hidden;
    border: hidden;
}

#formLeft{
    width: 360px;
    float:left;
    margin-right: 30px;
}

#formRight{
    width: 360px;
    float:left;
    margin-left: 30px;
}


fieldset{
    border: none;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus{
    background-color: #ddd;
    outline: none;
}

input[type=text]:disabled, input[type=password]:disabled, input[type=email]:disabled, input[type=number]:disabled {
    background: #dcdcdc;
}

input + span {
    position: relative;
}

input + span::before {
    position: absolute;
    right: -20px;
    top: 5px;
}

.isValid + span::before {
    content: '✓';
    color: #1E90FF;
}

.isInvalid + span::before {
    content: '✗';
    color: rgba(255, 0, 0, 0.6);
}


/* Set a style button */
button {
    background-color: #1E90FF;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    opacity: 0.9;
    font-size: 16px;

}
