<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Accept invite</title>
    <link type="text/css" href="css/navbar.css" rel="stylesheet" />
    <link type="text/css" href="css/addaccountholder.css" rel="stylesheet" />
</head>
<body>

<div id="navbar">
    <a class="active" href="/myaccounts">My accounts</a>
    <span id="logoNavbar"></span>
</div>

<h1 class="content">Accept invite</h1>
<h2 class="content"> Enter the account number and verification code to accept the account.</h2>
<form id="form" method="post" class="form">

    <label for="accountNumber">Account number</label>
    <input
            type="text"
            placeholder="NL00ROYA0000000000"
            name="accountNumber"
            id="accountNumber"
            title="Enter the account number"
            th:value="${accountNumber}"
            required
    />
    <br>
    <br>

    <label for="verificationCode">Verification code</label>
    <input
            type="text"
            placeholder="12345"
            name="verificationCode"
            id="verificationCode"
            title="Enter the five-digit code"
            th:value="${verificationCode}"
            step="1"
            min="0"
            required
    />
    <br>
    <br>

    <td><button type="submit" name="accept" id="acceptButton" value="Accept invitation">Accept invitation</button></td>
</form>
<h3><span th:text="${message}"/></h3>

<script src="js/navbar.js"></script>
</body>
</html>