<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/JSP/Page">
<head>
    <meta charset="UTF-8">
    <title>accountdetails</title>
   <link type="text/css" href="css/accountdetails.css" rel="stylesheet" />
    <link type="text/css" href="css/navbar.css" rel="stylesheet"/>


</head>
<body th:object="${account}">
<!-- Navigation bra section -->
<div id="navbar" >
    <a>
        <form th:action="@{logoutAction}" method="post">
            <input id="logoutbutton" type="submit" name="submitbutton" value="Logout"/>
        </form>
    </a>
    <a href="/myaccounts">Accounts overview</a>
    <span id="logoNavbar"></span>
</div>
    <h1>Account details</h1>
    <span></span>
    <!--<THAT'S THE DROPDOWN SELECT. DIFFICULT MAYBE, LETS SEE IF I HAVE TIME LEFT-->
    <!--<label for="accountnumber">AccountList</label>
        <select id="accountNumber" name="accountNumber" th:value="${accountnumber}">
            <option th:each="account : ${accounts}" th:value="${account.accountNumber}" th:text="${account.accountNumber}">
            </option>
        </select>
        <button type="submit" id="submitButton"  value="DoTransfer">choose account</button>-->

    <!--TABLE HOUDT INFORMATIE OVER REKENING HOUDER -->

<div id="accountInformation">

        <h4>Account holders: </h4>
        <li th:each="customer : ${list}">
            <div>
                <tr><p>Account Holders:  <span th:text="${customer.lastName}"></span></tr>
            </div><br>
        </li>
  <!--  <span th:text="${accountType}"></span>-->
    <table>
        <tr>
            </label><span th:text="${account.formatDateTime}"></span><br>
        </tr>
        <tr>
            <label>account type  </label><span th:text="${account.accountType}"></span><br>
        </tr>

        <tr>
        <label>IBAN  </label><span th:text="${account.accountNumber}"></span><br>
        </tr>

        <tr>
            <label>Balance  </label><span th:text="${account.balance}"></span>
        </tr><br>

    <form th:action="@{transaction}"  method="get">
        <button type="submit" id="submitButton" name="accountNumber"   value="DoTransfer">New money transfer</button>
    </form>
    </table>

</div>
    <!--TABLE HOUDT INFORMATIE OVER TRANSACTIE REKENING HOUDER -->
<div id="transactiontable">
    <table>
        <h2>Transaction</h2>
        <li th:each="transaction : ${transactionList}">
            <div>
                <td>
                    <tr> <span th:text="${transaction.dateTime}"></span></tr>
                </td>
                <td>
                    <tr> <span th:text="${transaction.bankAccountNumber}"></span></tr>
                </td>
                <td>
                    <tr> <span th:text="${transaction.customerName}"></span></tr>
                </td>
                <td>
                        <tr> <span th:text="${transaction.description}"></span></tr>
                </td>
                <td>
                    <tr> <span th:text="${transaction.amount}"></span></tr>
            </td>

        </div><br>
    </li>
    </table>

    <form th:action="@{transaction}"  method="get">
    <button type="submit" id="submitButton"   value="DoTransfer">New money transfer</button>
    </form>
    <br>
    <form th:action="@{addaccountholder}" method="get">
    <button type = "submit" id = "addaccountholderbutton" value = "Add Accountholder">Add accountholder</button>
    </form>

</div>

<script src="js/navbar.js"></script>

</body>

</html>
