<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add accountholder</title>
    <link type="text/css" href="css/navbar.css" rel="stylesheet" />
    <link type="text/css" href="css/addaccountholder.css" rel="stylesheet" />
</head>
<body>

<div id="navbar">
    <a class="active" href="/accountOverview">Account Overview</a>
    <span id="logoNavbar"></span>
</div>

<h1 class="content">Add accountholder</h1>
<h2 class="content"> Enter the username of the person you want to add as <br>an accountholder and choose a verification code.</h2>
<form id="form" method="post" class="form">

    Account number <span th:text="${accountNumber}"/> <br>

    <label for="inviteeUsername">Username </label>
    <input
            type="text"
            name="inviteeUsername"
            id="inviteeUsername"
            title="Enter an existing username"
            th:value="${inviteeUsername}"
            required
    />
    <br>

    <label for="verificationCode">Verification code</label>
    <input
            type="text"
            placeholder="12345"
            name="verificationCode"
            id="verificationCode"
            title="Enter a five-digit code"
            th:value="${verificationCode}"
            step="1"
            min="0"
            required
    />
    <br>

    <td><button type="submit" name="submit" id="submitButton" value="Send invitation">Send invitation</button></td>
</form>
<h3><span th:text="${message}"/></h3>

<script src="js/navbar.js"></script>
</body>
</html>





