<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Data Generator</title>
</head>
<body>
<p>Great succes! de database is gevuld met 100 customers, 50 business- en 50 private accounts.
    en 1 head business- en 1 head private Employee.<br>
    usernames: customer1, customer2, customer3.. enzovoort<br>
    passwords: Auto!12345 (voor alle users hetelfde, ook voor Employees)<br>

    head private username: headbusiness <br>
    head private username: headprivat<br>

</p>
</body>
</html>