<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Head Business Overview</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Top 10 customers with the highest balance on their business account</h1>
<h2>Welcome <span th:text="${employee.firstName}"/></h2>
<table style="width:100%">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Total balance</th>
    </tr>
    <tr th:each="topBusinessAccount: ${top10BusinessAccounts}">
        <td th:text="${topBusinessAccount.firstName}" />
        <td th:text="${topBusinessAccount.lastName}" />
        <td th:text="${topBusinessAccount.totalBalance}" />
    </tr>
</table>
</body>
</html>