<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
    <h1>Welcome to the homepage!</h1>
        <form th:action="@{doLogin}" method="post">
        <p>Username:<span><input type="text" name="inputUsername"></span></p>
        <p>Password:<span><input type="password" name="inputPassword"></span></p>
    <input type ="submit" name="submitbutton" value="Log in">
    </form>
    <input type ="submit" name="signup" onclick="location.href='signup';" value="Become a customer">
</body>
</html>