<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
    <h1>Welkom op de homepage!</h1>
<!--    <form th:action="@{doLogin}" method="post" th:object="${user}">-->
<!--    <p>Username:<span><input type="text" th:field="*{username}"></span></p>-->
<!--    <p>Wachtwoord:<span><input type="text" th:field="*{password}"></span></p>-->
    <input type ="submit" name="submitbutton" value="Inloggen">
    </form>
    <input type ="submit" name="submitbutton" value="Klant worden">
</body>
</html>