<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>openaccounts</title>
    <style>
        ::placeholder {
            color: red;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: red;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: red;
        }
    </style>

</head>
<body>

        <span hidden  id="account" th:text="${accountType}" />


    <form th:action="@{/openaccount}" id="form" method="post" th:object="${account}">
        <input type="radio" name="accountType"  id="private" th:field="*{accountType}" value="private" onclick="hideBusinessFields()" required>
        <label for="private">Private account</label>
        <input type="radio" name="accountType" id="business" th:field="*{accountType}" value="business" onclick="showBusinessFields()"/>
        <label for="business">Business account</label><br>
        <table id="businessFields" style="visibility:hidden" >
            <tr>
                <td>Company name  </td>
                <td>
                    <label>
                        <input type="text" id="companyName"  th:placeholder="*{companyNamePlaceholder}" onfocus="this.placeholder=''" placeholder=""  th:field="*{companyName}" />
                        <span th:text="${companyName_error}"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>Kvk number  </td><td><label>
                    <input type="text" id="kvkNumber" th:placeholder="*{kvkNumberPlaceholder}" onfocus="this.placeholder=''" placeholder=""   th:field="*{kvkNumber}"  />
                    <span th:text="${kvkNumber_error}"/>
            </label></td>
            </tr>
            <tr>
                <td>Vat number  </td><td><label>
                    <input type="text" id="vatNumber" th:placeholder="*{vatNumberPlaceholder}" onfocus="this.placeholder=''" placeholder=""  th:field="*{vatNumber}"  />
                    <span th:text="${vatNumber_error}"/>
            </label></td>
            </tr>
            <tr>
                <td>Sector </td>
                <td>
                    <label for="sector"></label>
                    <select id="sector"   th:field="*{sector}">
                        <option disabled selected value="" hidden></option>
                        <option value="financial">Financial</option>
                        <option value="it">IT</option>
                        <option value="retail">Retail</option>
                        <option value="agriculture">Agriculture</option>
                        <option value="education">Education</option>
                        <option value="logistic">Logistic</option>
                        <option value="industry">Industry</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" name="submitbutton" value="Create account"  />
    </form>
    <form action="myaccount" method="get">
        <input type="submit" name="submitbutton" value="Back" />
    </form>

</body>
</html>

<script>


    //if the value accounttype in Backing Bean is business: show business field



        if (document.getElementById("account").textContent === "business") {
            showBusinessFields()
        } else
            hideBusinessFields();



    function hideBusinessFields() {
        document.getElementById("businessFields").style.visibility = "hidden";
        document.getElementById("form").noValidate;
        document.getElementById("companyName").removeAttribute("required");
        document.getElementById("kvkNumber").removeAttribute("required");
        document.getElementById("vatNumber").removeAttribute("required");
        document.getElementById("sector").removeAttribute("required");

    }
    function showBusinessFields() {
        document.getElementById("businessFields").style.visibility = "visible";
       /* document.getElementById("companyName").required = "true";
        document.getElementById("kvkNumber").required = "true";
        document.getElementById("vatNumber").required = "true";
        document.getElementById("sector").required = "true";*/


    }
</script>
