<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>openaccounts</title>
    <form action="openaccount" method="post">
    <!--twee radio button nodig, een prive rekening een business account -->
        <input type="radio" id="private" name="accountType" value="private"/>
        <label for="private">Private account</label>
        <input type="radio" id="business" name="accountType" value="business"/>
        <label for="business">Business account</label><br>

    <!--table for business (set on visible if radio button is clicked -->
        <table>
            <tr> <!--Company name -->
                <td>Company name  </td>
                <td>
                    <label>
                        <input type="text" name="companyName"/>
                    </label>
                </td>
            </tr>
        <!--kvk number-->
            <tr>
                <td>Kvk number  </td><td><label>
                <input type="text" name="kvkNumber"/>
            </label></td>
            </tr>
        <!--Vat number -->
            <tr>
                <td>Vat number  </td><td><label>
                <input type="text" name="vatNumber"/>
            </label></td>
            </tr>
        <!--Sector drop down menu select multiple -->
            <tr>
                <td>Sector </td>
                <td>
                    <label for="sector"></label><select id="sector" name="sector">
                        <option value="financial">Financial</option>
                        <option value="it">IT</option>
                        <option value="retail">Retail</option>
                        <option value="agriculture">Agriculture</option>
                        <option value="education">Education</option>
                        <option value="logistic">Logistic</option>
                        <option value="industry">Industry</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" name="submitbutton" value="Create account" />
    </form>
    <form action="myaccount" method="get">
        <input type="submit" name="submitbutton" value="Back" />
    </form>
</head>
<body>

</body>
</html>