<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link type="text/css" href="css/navbar.css" rel="stylesheet" />
    <link type="text/css" href="css/signup.css" rel="stylesheet" />
</head>
<body>
<div id="navbar">
    <a class="active" href="/">Login</a>
    <a href="/"></a>
</div>
<h1 class="content">Sign up</h1>
<fieldset th:disabled="${form}">
<form th:action="@{signup}" method="post" class="form">
    <h3><span th:text="${confirmation}"/></h3>
    <h3><span th:text="${error}"/></h3>

    <div id="formLeft">
    <label><b>Username</b></label><div id="usernameNotAvailable"><span>Username not available</span></div>
    <input
            type="text"
            placeholder="Username"
            name="username"
            id="username"
            pattern="^[a-zA-Z0-9_-]{3,15}"
            title="Use letters, numbers, - or _ only with a maximum of 15 characters"
            th:value="${username}"
            autofocus
            required

    /><span></span>


    <label><b>Password</b></label>
    <input type="checkbox" onclick="showPassword()">Show Password

    <input
            type="password"
            placeholder="At least 10 characters"
            name="password"
            id="password"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{10,}$"
            title="Password must contain 1 lower case letter, 1 upper case letter, 1 number, 1 special character and at least 10 characters in length"
            th:value="${password}"
            onfocusin="showPasswordRequirements()"
            onfocusout="hidePasswordRequirements()"
            required
    /><span></span>


        <!-- Laat zien wanneer password geselecteerd is -->
    <div id="passRequirements">
        <div id="passRequirements1of2">
            <p id="letter" class="invalid">A lowercase letter</p>
            <p id="capital" class="invalid">A capital (uppercase) letter</p>
            <p id="number" class="invalid">A number</p>
        </div>
        <div id="passRequirements2of2">
            <p id="special" class="invalid">A special character</p>
            <p id="length" class="invalid">Minimum 10 characters</p>
        </div>
    </div>



    <div id="names">
        <div id="firstName">
    <label><b>First name</b></label>
    <input
            type="text"
            placeholder="First name"
            name="firstName"
            pattern="^[^\s].*[a-zA-Z-'\s?]{1,100}"
            title="Use letters or - only"
            th:value="${firstName}"
            required
    /><span></span>
        </div>

        <div id="lastName">
    <label><b>Last name</b></label>
    <input
            type="text"
            placeholder="Last name"
            name="lastName"
            pattern="^[^\s].*[a-zA-Z-'\s?]{1,100}"
            title="Use letters or - only"
            th:value="${lastName}"
            required
    /><span></span>
            </div>

    </div>

    <label><b>Email</b></label>
    <input
            type="email"
            placeholder="mail@example.com"
            name="email"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            th:value="${email}"
            required
    /><span></span>

        <label><b>Phone Number</b></label>
        <input
                type="text"
                placeholder="06........ or 031........"
                name="phoneNumber"
                pattern="^(((0)[1-9]{2}[0-9][-]?[1-9][0-9]{5})|((\\+31|0|0031)[1-9][0-9][-]?[1-9][0-9]{6}))$|^(((\\+31|0|0031)6){1}[1-9]{1}[0-9]{7})$"
                title="Enter a valid Dutch phone number without country +31"
                th:value="${phoneNumber}"
                required
        /><span></span>
    </div>
    <div id="formRight">


        <label><b>BSN</b></label><div id="BSNNotAvailable"><span>BSN invalid</span></div>
        <input
                type="text"
                placeholder="123456789"
                pattern="^[0-9]{9}$"
                name="BSN"
                id="BSN"
                title="Must consist of only 9 numbers"
                th:value="${BSN}"
                required
        /><span></span>

    <label><b>Address</b></label>
    <input
            type="text"
            placeholder="Street name and house number"
            name="address"
            pattern="^([1-9][e][\s])*([a-zA-Z]+(([\.][\s])|([\s]))?)+[1-9][0-9]*(([-][1-9][0-9]*)|([\s]?[a-zA-Z]+))?$"
            title="Enter a valid address"
            th:value="${address}"
            required
    /><span></span>

    <label><b>City</b></label>
    <input
            type="text"
            placeholder=""
            name="city"
            pattern="[A-Z']?[a-zA-Z _']+"
            title="Enter a valid city"
            th:value="${city}"
            required
    /><span></span>

    <label name="postalCode"><b>Postal code</b></label>
    <input
            type="text"
            placeholder="9999AA"
            name="postalCode"
            pattern="^[1-9][0-9]{3} ?(?!sa|SA|Sa|sA|sd|SD|sD|Sd|ss|SS|sS|sS)[a-zA-Z]{2}$"
            title="Enter a valid postal code"
            th:value="${postalCode}"
            required
    /><span></span>
    </div>
    <div id="signUpButton">
    <td><button type="submit" name="submit" id="submit" aria-disabled="true" value="Sign up">Sign Up</button></td>
    </div>
</form>
</fieldset>

<script src="js/navbar.js"></script>
<script src="js/signup.js"></script>
</body>
</html>