<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transfer Money</title>
    <link type="text/css" href="css/navbar.css" rel="stylesheet" />
    <link type="text/css" href="css/transaction.css" rel="stylesheet" />
</head>
<body>
    <div id="navbar">
        <a class="active" href="/myaccounts">My accounts</a>
        <span id="logoNavbar"></span>
    </div>
    <h1 class="content">Transfer Money</h1>
    <h3><span th:text="${notification}"/></h3>
    <form id="form" method="post" class="form">

        <!-- Deze wordt automatisch geselecteerd. Later eventueel een dropdown -->
        <label for="fromAccountNumber"><b>From Account</b></label>
        <select id="fromAccountNumber" name="fromAccountNumber" th:value="${fromAccountNumber}">
            <option th:each="account : ${account}" th:value="${account.accountNumber}" th:text="${account.accountNumber} + '        Balance: €' + ${account.balance}"></option>
        </select>
        <span></span>
        <span></span>
        <label for="toAccountNumber"><b>To Account</b></label>

        <input
                type="text"
                placeholder="NL27ABNA433706589"
                name="toAccountNumber"
                id="toAccountNumber"
                title="A valid account number"
                th:value="${toAccountNumber}"
                required
        />
        <span></span>
        <span></span>

        <label for="amount"><b>Amount</b></label>
        <input
                type="number"
                placeholder="100.00"
                name="amount"
                id="amount"
                title="Enter a valid amount"
                th:value="${amount}"
                step=".01"
                min="0.01"
                required
        />
        <span></span>
        <span></span>

        <label for="description"><b>Description</b></label>
        <input
                type="text"
                placeholder="Sending all the moneys to yooouuu"
                name="description"
                id="description"
                title="Enter a valid description"
                th:value="${description}"
        />
        <span></span>
        <span></span>
            <td><button type="submit" name="submit" id="submitButton" value="Send Money">Send Money</button></td>
    </form>

    /<script src="js/navbar"></script>
    <script src="js/transactionFieldValidation.js"></script>
</body>
</html>